snippet "(\w+).q" "quotes (postfix)" r
'`!p snip.rv = match.group(1)`$1'$0
endsnippet

snippet "(\w+).dq" "double quotes (postfix)" r
"`!p snip.rv = match.group(1)`$1"$0
endsnippet

snippet "(\w+).p" "parenthesis (postfix)" r
(`!p snip.rv = match.group(1)`$1)$0
endsnippet
