extends typescript

snippet todo "TODO comment"
// TODO(`echo $USER`): ${1} [`date +%d.%m.%Y`]
endsnippet

snippet comp "functional component" b
interface I$1 {
	$2
}

export const ${1:Component}: React.FC<I$1> = ({$3}) => {
	return ${4:null};
};
endsnippet

snippet cn "clasname"
className={cn${1:Component}('$2')}
endsnippet
